<section class="flex flex-wrap my-4 border">
  <div class="px-2 py-2">
    <p class="text-sm text-gray-800">
      <span class="font-semibold"><%= enrollment.user.name.present? ? enrollment.user.name : enrollment.user.email.split("@").first %>: </span> <span class="ml-6 text-sm text-gray-600">
        <% enrollment.rating.times do %>
          <i class="text-yellow-300 fa-solid fa-star"></i>
        <% end %>
      </span>
    </p>
    <span class="ml-6 text-sm text-gray-600">
      <%= enrollment.review %>
    </span>
  </div>
</section>
