<main class="w-full mx-auto min-h-96 md:w-2/3">
  <h1 class="text-4xl font-bold">New enrollment</h1>

  <%= render "new_form", {enrollment: @enrollment, course: @course}  %>

  <%= link_to "Back to courses", courses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</main>
