<div class="mx-auto md:w-2/3 w-full">

  <h2 class="font-bold text-3xl">Editing lesson for:</h2>

  <p><%= @lesson.course.title %></p>

  <%= render "form", lesson: @lesson %>

  <%= link_to "Go Back", lesson_path(@lesson), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-lg hover:bg-slate-300" %>
</div>
