<div class="mx-auto md:min-w-[250px] w-full overflow-x-auto">

  <h2 class="font-bold text-3xl">Editing lesson for:</h2>

  <p><%= @lesson.course.title %></p>

  <%= render "form", lesson: @lesson %>

  <%= link_to "Go Back", course_lesson_path(@course, @lesson), class: "ml-2 rounded-lg py-3 px-5 bg-gray-200 inline-block font-lg hover:bg-slate-300" %>
</div>
