<div class="mx-auto md:min-w-[250px] w-full overflow-x-auto">
  <h2 class="font-bold text-3xl">New lesson for:</h2>

  <h2 class="mt-4 text-xl"><%= @course.title %></h2>

  <%= render "form", lesson: @lesson %>

  <%# <%= link_to "Back to lessons", lessons_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium"  %>

  <%= link_to "Go Back", course_path(@course), class: "ml-2 rounded-lg py-3 px-5 bg-gray-200 inline-block font-lg hover:bg-slate-300" %>

</div>
