<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @lesson %>
    <%= link_to "Edit this lesson", edit_lesson_path(@lesson), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= link_to "Back to Course", course_path(@lesson.course), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>

  </div>
</div>
