<%= turbo_frame_tag "edit-modal" do %>
  <div class="fixed inset-0 grid grid-cols-6 mx-auto bg-black bg-opacity-75">
    <div class="z-10 col-span-6 col-start-1 p-8 bg-white shadow-lg md:scale-75 rounded-xl md:col-start-2 md:col-span-4">
      <h1 class="text-4xl font-bold">Editing course</h1>
      <%= render "form", course: @course %>
      <a href="<%= request.referrer %>" class="inline-block px-5 py-3 ml-2 bg-gray-100 rounded-lg font-lg hover:bg-slate-300">Cancel</a>
    </div>
  </div>
<% end %>
