<%= turbo_frame_tag "modal" do %>
  <section class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75">
    <main class="z-10 p-8 scale-75 bg-white shadow-lg rounded-xl">
      <h1 class="text-4xl font-bold">New course</h1>
      <%= render "form", course: @course %>
      <a href="<%= request.referrer %>" class="inline-block px-5 py-3 ml-2 bg-gray-200 rounded-lg font-lg hover:bg-slate-300">Cancel</a>
      <%= link_to "Back to Courses",courses_path, class: "inline-block px-5 py-3 ml-2 bg-gray-200 rounded-lg font-lg hover:bg-slate-300" %>
    </main>
  </section>
<% end %>
