/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import 'actiontext.css';

progress {
  /* Width and appearance */
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Track color */
  color: #7c7c7c; /* This sets the base color for WebKit browsers */
  border-radius: 10px;
}

/* WebKit-based browsers */
progress::-webkit-progress-bar {
  background-color: #999999; /* Light gray track color */
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #434343; /* Blue fill color */
  border-radius: 10px;
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #2a2a2a; /* Blue fill color */
  border-radius: 10px;
}
