@font-face {
    font-family: "Good Sans";
    font-weight: 100;
    src: url("/fonts/GoodSans Sans Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Queen";
    font-weight: 200;
    src: url("/fonts/Certification from the Queen.woff") format("woff");
    font-display: swap;
}

