@import "./fonts.css";
.certificate-container {
  font-family: 'Good Sans', serif;
  padding: 10mm 20mm; /* Adjusted padding */
  width: 297mm;
  height: 210mm;
  position: relative; /* For absolute positioning of elements */
}

.background-image {
  background: url('certificate_background.jpg') no-repeat center center;
  background-size: cover; /* Cover entire area */
  position: absolute; /* Ensure it covers the certificate container */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Keep it behind the text */
}

.certificate-header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30mm;
}

.certificate-desc {
  text-align: center;
  margin-bottom: 20mm;
  margin-top: 40mm;
  font-size: 26px;
  display: block;
}

.certificate-user-name, .certificate-course-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.certificate-section {
  margin-top: 25mm;
}

.signature-section {
  text-align: right;
  position: absolute;
  display: block;
  top: 140mm;
  bottom: 30mm;
  right: 20mm;
}

.signature-text {
  font-size: 22px;
}

.signature-image {
  width: 50mm;
}

.badge-section {
  text-align: left;
  float: left;
  margin-left: 140px;
}

.badge-section img {
  text-align: left;
  height: 250px;
  width: auto;
}

