<!-- In _messages.html.erb -->
<section data-controller="flash">
  <% if notice %>
    <p class="py-2 px-3 bg-green-50 mb-2 mt-4 ml-4 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
      <button type="button" class="close-button close mx-2 my-2 hover:cursor-pointer" data-action="flash#dismiss" aria-label="Close">&times;</button>
    </p>
  <% end %>
  <% if alert %>
    <p class="py-2 px-3 bg-red-50 mb-2 mt-4 ml-4 text-red-500 font-medium rounded-lg inline-block" id="alert">
      <%= alert %>
      <button type="button" class="close-button close mx-2 my-2 hover:cursor-pointer" data-action="flash#dismiss" aria-label="Close">&times;</button>
    </p>
  <% end %>
</section>
